.cookie-policy {
	$parent: &;

	position: fixed;
	left: 0;
	width: 100%;
	bottom: var(--space-md);
	z-index: 30;
	pointer-events: none;

	&__main {
		pointer-events: auto;

		max-width: 320px;

		--shadow: var(--shadow-md);
		margin: 0 0 0 auto;
	}

	&--accepted {
		display: none;
	}
}
